/*

Template: Global Tunnels  - HTML Template
Author: Bixo Studios
Version: 1.0
Design and Developed by: Bixo Studios

NOTE: This is main stylesheet of template, This file contains the styling for the actual Template. Please do not change anything here! write in a custom.css file if required!

*/