/*

Template: Global Tunnels  - HTML Template
Author: Bixo Studios
Version: 1.0
Design and Developed by: Bixo Studios

NOTE: This is main stylesheet of template, This file contains the styling for the actual Template. Please do not change anything here! write in a custom.css file if required!

*/

header .navbar-default {
    background: #000;
    border: none;
    border-radius: 0px;
    min-height: inherit;
    margin: 0;
    padding: 20px 0;
}

header .navbar-default .navbar-nav>li>a {
    color: #fff;
    padding: 10px 0;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
}

#globe {
    max-width: 100%;
    margin: 0 auto 0;
    display: block;
}